<div class="container">
  <h3 class="text-center">Qutoes App</h3>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="form">
        <app-quote-form [genQuote]="quoteFunction"></app-quote-form>
      </div>

      <!-- start of card -->
      <div class="col-md-6 mt-5" *ngFor="let quote of quotes; let i = index">
        <div class="card" [appHighest]="quote.highest">
          <div class="card-header">
            <h4>{{ quote.title }}</h4>
          </div>
          <div class="card-body">
            <p class="desc">"{{ quote.quoteDesc }}"</p>
            <app-quote-detail
              [quote]="quote"
              [quotes]="quotes"
              (isBad)="badQuote($event, i)"
              (qVote)="toLike($event, i)"
            ></app-quote-detail>
          </div>
        </div>
      </div>
      <!-- end of card -->
    </div>
  </div>
</div>
