<div class="container-fluid">
  <h2 class="text-center">Create a new quote</h2>
  <hr />
  <form action="">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" name="" id="name" required />
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="" id="title" required />
    </div>
    <div class="form-group">
      <label for="quoteDes">Quote</label>
      <textarea
        class="form-control"
        id="quoteDes"
        cols="15"
        rows="3"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" name="" id="author" required />
    </div>
  </form>
</div>
